body,div{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: none;
}

@font-face {
    font-family: 'patron';
    src: url(./font/Patron\ -\ PersonalUse.otf);
}

body{
    font-family: patron;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-image: url(https://media.giphy.com/media/xVn3ZmKrKIOLS/giphy.gif);
}

#titulo{
    font-family: patron;
    color: white;
    font-size: 65px;
    color: #fff;
     text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}


#container{
    position: absolute;
    top: 50%;
    bottom: 50%;
    max-width: 490px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.coluna{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    border-radius: 30px;

}

.linha{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    box-shadow:
    0 0 7px #fff,
    0 0 7px #fff,
    0 0 1px #fff,
    0 0 3px #0fa,
    0 0 5px #0fa,
    0 0 5px #0fa,
    0 0 5px #0fa,
    0 0 5px #0fa;
}

.coluna:hover {
    box-shadow: 0px 0px 20px 10px hsl(105deg 100% 59% / 75%);
    border-radius: 10px;
    cursor: pointer;
}

/* >>>>>>> master */

.disco-red {
    background-image: url(./font/peterQuill2.png);
    background-size: 70px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;
    transform: translateY(-1000px);
    animation: efeitos 2s ease-in-out;
    animation-fill-mode: forwards;
}

.disco-black {
    background-image: url(./font/Rockett2.png);
    background-size: 70px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid white;
    transform: translateY(-1000px);
    animation: efeitos 2s ease-in-out;
    animation-fill-mode: forwards;
}

#ganhou{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 200px;
    background-image:url(https://media.giphy.com/media/Z9bmnMFw0PM6MnxVfp/giphy.gif);
    box-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    bottom: calc(50% - 100px);
    right: calc(50% - 200px);
    border-radius: 15px;
    display: none;

}

#botao_resetar{
    font-family: patron;
    font-size: 10px;
    height: 50px;
    width: 200px;
    background-color: lime;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: black 5px 5px 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid transparent;
}

@keyframes efeitos{
  0%{transform: translateY( -800px)}
  32%{transform: translateY( 5px) scale(1.1,0.9) rotate(360deg)}
  48%{transform: translateY(-100px)}
  64%{transform: translateY(5px) scale(1.1,0.9)}
  80%{transform: translateY(-25px)}
  100%{transform: translateY(0px)}
}
